input.form-control {
  max-width: 90%;
}
.form-field {
  margin-left: 30px;
}
.sign-up-wrapper {
  flex-direction: row;
}
.form-control {
  max-width: 70rem;
}

@media screen and (max-width: 600px) {
  .sign-up-wrapper {
    flex-direction: column;
  }
  .form-field {
    margin-left: 50px;
  }
}
