.sidebar-container {
  margin-top: 40px;
  margin-left: 14px;
   
}
.block-title {
  font-size: 16px;
  font-weight: 700;
}

.happy-client {
  background-color: rgb(255, 243, 205);
}

.revenue {
  background-color: rgb(209, 231, 221);
}
.header {
  font-size: 24px;
  text-shadow: 2px 2px 2px rgb(119, 204, 219);
}
.expense {
  background-color: rgb(248, 215, 218);
}

.chart {
  background-color: white;
  width: 1000px;
  -webkit-box-shadow: 0 0 10px rgb(0, 0, 0);
  box-shadow: 0 0 10px rgb(5, 5, 5);
  border-radius: 5px;
  margin-bottom: 20px;
}
.year {
  font-family: "Times New Roman", Times, serif;
  color: purple;
  font-size: 18px;
}
.countbar {
  width: 300px;
  height: 50px;
  border-radius: 4px;
  margin-left: 10px;
  font-size: 13px;
}

ul.countbar-list {
  overflow: hidden;
  background-color: white;
  border-radius: 5px;
  padding-inline-start: 10px;
  padding-inline-end: 0px;
  margin-right: 50px;
}

li.list-item {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 13px;
  text-decoration: none;
  float: left;
  cursor: pointer;
}

li.list-item:hover {
  background-color: rgb(114, 88, 219);
  color: white;
}

.active {
  background-color: rgb(114, 88, 219);
}
li.list-item:active {
  background-color: rgb(114, 88, 219);
}


@media only screen and (max-width: 600px) {
  .sidebar-container {
   margin-left: 70px;
  }
}


.clickable-block:hover{
  cursor: pointer;
  }
  .clickable-block:active{
    transform: translateY(4px);
    cursor: pointer;
    }